<div class="grid-container">
    <div class="image-container img-large">
        <img src="https://img.freepik.com/foto-gratuito/vista-panoramica-della-spiaggia-sabbiosa-privata-con-lettini-e-ombrelloni-sul-mare-e-sulle-montagne-ricorrere_146671-18839.jpg?ga=GA1.1.1071503143.1746002807&semt=ais_hybrid&w=740" alt="foto1" class="foto_destra_grande"/>
        <div class="label">Area Nord (Farfalle)</div>
      </div>
      <div class="image-container img-top-right">
        <img src="https://img.freepik.com/foto-gratuito/capanna-di-sorveglianza-sulla-spiaggia_15879-607.jpg?ga=GA1.1.1071503143.1746002807&semt=ais_hybrid&w=740" alt="foto2" class="foto_sinistra_piccola"/>
        <div class="label">Area Est (Alghe)</div>
      </div>
      <div class="image-container img-bottom-right">
        <img src="https://img.freepik.com/foto-gratuito/vista-panoramica-della-spiaggia-sabbiosa-privata-con-lettini-e-ombrelloni-sul-mare-e-sulle-montagne-ricorrere_146671-18851.jpg?ga=GA1.1.1071503143.1746002807&semt=ais_hybrid&w=740" alt="foto3" class="foto_piccola"/>
        <div class="label">Area Sub (Conchiglie)</div>
      </div>
</div>