<div>
    <header>
        <nav>
            <ul>
                <div>
                    <p><a href="">ShellLido</a></p>
                </div>
                <div>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </div>
                <div>
                    <button>Prenota</button>
                </div>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Insert the Main -->
    </main>
</div>